
<div class="container mt-5">

  <div class="jumbotron bg-primary text-white">
    <h1 class="display-4">Coo Haber Portalı</h1>
    <p class="lead">Tv & Magazin & Spor </p>
    <hr class="my-4">
    <p>Gündemdekiler</p>
  </div>

  <div class="row">
  
    <div class="col-md-4">
  
       <img src="assets/covidnedir.jpg" class="img-fluid rounded">
       <p>Covid salgını nasıl seyrediyor!</p>

       <img src="assets/togg-yeni-konsept-aracini-360-derece-sanal-turda-sergiliyor11.jpg" class="img-fluid rounded"> 
      
       <p>Yerli Aracımız Togg Podyumda</p> 
       <img src="assets/besiktas.jpg" class="img-fluid rounded">
       <p>KARA KARTAL 3. Kupasını aldı</p>
       <img src="assets/indir (1).jpg" class="img-fluid rounded">
       <p>SON DAKİKA !! Dolardaki bu düşüş neden ? </p>
  
      </div>
      <div class="col-md-4 text-justify">Koronavirüs Hastalığı genel olarak yüksek ateş ve öksürük, ilerleyen durumlarda ise solunum güçlüğü ile seyreden bir hastalıktır. Bunlara ilave olarak bulantı-kusma, diyare, kas-eklem ağrısı, iştahsızlık gibi farklı semptomların da ortaya çıkabildiği gösterilmektedir</div>
      <div class="col-md-4 text-justify">5 OCAK KORONA TABLOSU 
        24 saatlik verilere göre 66 bin 467 vaka tespit edildi. Virüs nedeniyle hayatını kaybedenlerin sayısı 143 oldu. Bir günde toplam 417 bin 787 test yapılırken, iyileşen hasta sayısı 29 bin 316 olarak kaydedildi. Sağlık Bakanlığı tarafından açıklanan tabloda, 2 doz aşılama verilerine de yer verildi. En az 2 doz aşı olmuş 18 yaş üzeri nüfusu kapsayan verilere göre Türkiye'de 2. doz aşılama ortalama yüzde 83,38 oldu.</div>
     </div>
     
  
  </div>