<div class="container mt-5">

  <div class="row">

  <div class="col-md-4 offset-md-4">


   <div class="card">

  <div class="card-header bg-primary text-white"> 
      <div class="btn-group">
          <h5>Üyelik formu</h5>


       </div>

  </div>

  <div class="card-body">
      <div class="alert alert-success" *ngIF="islem">
          Kayıtlar Devam ediyor
       </div>

       <form #kayitFormu="ngForm"></form>
  <div class="form-group">

  <label>Ad Soyad</label> 
  <input type="text " class=form-control required>
  

  </div>
  <div class="form-group">

    <label>E-Posta</label> 
    <input type="text " class=form-control required>
  
    </div>
  <div class="form-group">

    <label>Kullanıcı Adı</label> 
    <input type="text " class=form-control required>
  
    </div>
  

  <div class="form-group">

  <label>Şifre</label>

  <input type="password" class="form-control">
  

  </div>
  <div class="form-group">

    <label>Tekrar Şifre</label>
  
    <input type="password" class="form-control">
  

  </div>

  <div class="card-footer">
    

      <button type="button" onclick="location='/giris'" class="btn btn-primary">Üye ol</button>
