<div class="container mt-5 bg-primary " >
  <div class="row">
    <div class="col-md-6">
      <p class="display-1">Coo Haber Magazin </p>
    </div>
  </div>

  <div class="container mt-5">

    <div class="row ">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-primary"><h3>Güncel Magazin Haberleri</h3></div>
          <div class="card-body">
            <div class="row">
  
              <div class="col-md-4">
            
                 <img src="assets/mag1.jpg" class="img-fluid rounded">
                 <p>ŞOK ŞOK ŞOK !</p>
          
                 <img src="assets/mag2.jpg" class="img-fluid rounded"> 
                
                 <p>Sahiden Öyle mi ?</p> 
                 <img src="assets/mag5.jpg" class="img-fluid rounded">
                 <p>Sizide Şaşırtmadı mı ?</p>
                 <img src="assets/mag6.jpg" class="img-fluid rounded">
                 <p>Beklenmedik haber ! </p>
                 
            
                </div><div class="col-md-4">
            
                  <img src="assets/mag7.jpg" class="img-fluid rounded">
                  <p>ŞAŞIRMADIK!!</p>
           
                  <img src="assets/mag8.jpg" class="img-fluid rounded"> 
                 
                  <p>BAKALIM NOLACAK ?</p> 
                  <img src="assets/mag9.jpg" class="img-fluid rounded">
                  <p>MERAKLA BEKLİYORUZ</p>
                  <img src="assets/zam_4540.jpg" class="img-fluid rounded">
                  <p>BU HABER ÜZDÜ</p>
                  
             
                 </div><div class="col-md-4">
            
                  <img src="assets/acıkgoz.jpg" class="img-fluid rounded">
                  <p>YENİ AŞK DOĞUYOR</p>
           
                  <img src="assets/sonson.jpg" class="img-fluid rounded"> 
                 
                  <p>SOSYAL MEDYADA PAYLAŞTIĞI HABER OLAY OLDU</p> 
                  <img src="assets/tpolga40.jpg" class="img-fluid rounded">
                  <p>SON HALİNİ GÖRENLER İNANAMADI</p>
                  <img src="assets/anne.jpg" class="img-fluid rounded">
                  <p>ANNE Mİ OLUYOR</p>
                  
             
                 </div>
                 Magazin haberleri son dakika gelişmeleri ve gündemden paparazzi dedikoduları neler? En son yerli ve yabancı magazin turu için Kelebek Paparazzi!
          <div class="card-footer">GÜNCEL HABERLERİ KAÇIRMAMAK İÇİN BİZİ TAKİP ETMEYİ BIRAKMAYIN !!</div>
        </div>
      </div>
      
      <div class="row mt-5"></div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h3>Burcu Güneş'in hiyeroglifleri</h3>
            </div>
            <div class="card-body">
              Burcu Güneş sosyal medya hesabından müzik dünyasını topa tuttu. Sapıklık, sapkınlık, teşhircilik, pespayelik... Ne ararsanız var açıklamada:

“Kadının değerini ve özgür ruhunu ortaya çıkaracak duruş; çıplaklık, teşhir, seksi fotoğraflar ve şovlar değildir. Hatta aksine, değerini düşüren bu yaklaşımlardır. Sapkınlıktır. Şatafatla boyanmaların, sapık ruhlarıdır. Ha bir de popu siz kurtarmayın biraz n’olur...”

Bu sözlerin kimlere olduğu belli değil. Uzun yazısında hiç isim vermemiş.

Çıplaklık, seksi şovlar denince akla sahne kostümleriyle gündem olan Hande Yener, Hadise, Gülşen gibi meslektaşları geliyor.

Ama bunu kastettiğini sanmam. 

Mantıksız çünkü. Google’a “Burcu Güneş” yazdığınızda süper minilisinden bikinilisine, transparanından derin dekoltelisine bir sürü fotoğrafı düşüyor önünüze.

En sondaki “Popu siz kurtarmayın” lafı da “Popu kurtarmaya geldim” diyen Atiye’yi çağrıştırıyor biraz ama...

Onu da sanmam.

“Koca sektörün sorunları bitti de sıra Atiye’ye mi geldi?” derler insana...

Burcu Güneş bir şey anlatmak istiyor ama hem söylemeyeyim hem de herkes anlasın derken aslında hiçbir şey dememiş oluyor.

Mısır hiyeroglifi gibi bir şey, çözen beri gelsin.
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-primary">Devamını oku</button>
            </div>
            
          </div>

 

      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h3>Bir tütüyle yıkılan düzen</h3>
          </div>
          <div class="card-body">
            Baba deyince aklımıza gelen –gelmesi için çocukluktan itibaren gereken her şeyin yapıldığı- bütün o ciddi, asık suratlı, sert çağrışımları ters yüz ettikleri için Tarkan’a da Ali Sunal’a da teşekkür edesim var bugün. Onların bu derece popüler birer kişi ve baba olarak kızlarıyla oynarken giydikleri tütüleriyle fotoğraf çektirip paylaşmaları o kadar önemli ki. Ne kadar önemli olduğunu şuradan anlayın; uğradıkları saldırıların ucu bölücülüğe ve PKK’ya kadar gidiyor. O derece rahatsızlık yaratmış kimi bünyelerde, çok acayip. “Kimi kandırıyorsunuz” diyorlar, “kızlarımız için” diyerek, “biz bilmiyor muyuz?”
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-primary">Devamını oku</button>
          </div>
        </div>
        

I

    </div><div class="col-md-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3>Yeni yıl için 10’dan geri saymaya ne zaman başladık?</h3>
        </div>
        <div class="card-body">
          Southern Methodist Üniversitesi’nde ‘zaman tutma tarihi’ konusunda çalışmalar yapan ve bugünlerde ABD yeni yıl kutlamalarının tarihiyle ilgili kitabını bitirmek üzere olan Alexis McCrossen’in, insanların yılbaşında, gece yarısı yaklaşırken, 10’dan geriye doğru saymaya ne zaman başladıklarını araştırdığını öğrendiğimde Marmaray’daydım. Az ileride bir kadın, dostlar alışverişte görsün misali, maskesi alt dudağının üstünde duran bir adama, doğru maske kullanımı konusunda laf anlatmaya çalışıyordu. Adamın kadına söylediklerinden kadının o an trenin içinde bir deveye hendek atlatmaya çalışmasının daha kolay olacağını görüp McCrossen’in yazısına döndüm!
Alexis McCrossen, 1960’lar ve 70’lere kadar çok az insanın yılbaşı akşamı, yeni yıla girerken 10’dan geriye doğru saydığını söylüyor: “Yılbaşı gecesi kutlamalar, tam yeni yıla girerken öpücükler tamam ama geri sayım diye bir şey yoktu!”
Yılbaşlarındaki geri sayımın ‘süre bittiğinde yeniden başladığı için’ bir tür yaratılış (doğuş) geri sayımı sayılabileceğini belirtiyor McCrossen.
Zamanın bittiği ‘kıyamet geri sayımları’ olduğunu da ifade edip ABD’nin Japonya'ya ilk atom bombasını atmasından iki yıl sonra, 1947'de atom bilimcileri tarafından New York'ta oluşturulan ve insanlığın bir felakete ne kadar yakın olduğunu temsil eden ‘Kıyamet Saati’ni buna örnek gösteriyor. (Bu arada Atomik Bilimciler Bülteni-Bulletin of the Atomic Scientists- adlı organizasyondaki onlarca bilim insanına göre artık, dünyanın sonunu getirecek, gece yarısı 12'ye sadece 100 saniye kaldığını da belirteyim!)
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-primary ">Devamını oku</button>
        </div>
        
      </div>
      

I

  </div>

</div><div class="col-md-4">
            
  <img src="assets/TWİTTER.jpg" class="img-fluid rounded">
  <p>Twitter : CooNewsPortal</p>

  <img src="assets/FACEBOOKjpg.jpg" class="img-fluid rounded"> 
 
  <p>Facebook : CooPortalNews</p> 
  <img src="assets/YOUTUBE.jpg" class="img-fluid rounded">
  <p>Youtube : CooHaberPortalı</p>
  <img src="assets/İNSTAGRAM.jpg" class="img-fluid rounded">
  <p>İnstagram : CooHaberPortalı</p>
  

 </div><div class="col-md-4">
            
  <p>BİZİ DİĞER PLATFORMLARDAN TAKİP EDERSENİZ SEVİNİRİZ</p>