
<div class="container mt-5">

          <div class="row ">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header bg-primary text-white"><h3>KARA KARTALIN TARİHİNDE İLK</h3></div>
                <div class="card-body">
                  5. kez düzenlenen Turkcell Süper Kupa mücadelesinde 2020-2021 Yılı Spor Toto Süper Lig şampiyonu Beşiktaş ile Ziraat Türkiye Kupası finalisti Antalyaspor, Katar’ın başkenti Doha’da karşı karşıya geldi. Normal süresi ve uzatma dakikaları 1-1 eşitlikle tamamlanan maçta siyah-beyazlılar penaltı atışları sonucunda rakibini 4-2 mağlup ederek kupanın sahibi oldu.

Normal sürede atılan her iki gol de Atiba'dan geldi. Tecrübeli futbolcu, 33. dakikada rakip fileleri, 74. dakikada kendi ağlarını sarstı.

Beşiktaş tarihinde bir ilk!

Böylece Beşiktaş, kulüp tarihinde ilk kez Süper Lig, Türkiye Kupası ve Süper Kupa'yı üst üste kazanmış oldu.
                </div>
                <div class="card-footer">Bu makale 07.11.2022 tarihinde yayınlanmıştır</div>
              </div>
            </div>
            <div class="row mt-5"></div>
  
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header bg-primary text-white">
                    <h3>Löw, Bilic, Jorge Jesus ve İsmail Kartal... Fenerbahçe'nin teknik direktör arayışında son durum</h3>
                  </div>
                  <div class="card-body">
                    - Fenerbahçe'de teknik direktör adayları kimler?

Löw'den olumsuz yanıt gelmesi halinde Fenerbahçe'nin alternatifleri; Jorge Jesus, Slaven Bilic ve İsmail Kartal.

Sezon başı Fenerbahçe ile anlaşan ancak kulübü Beijing Guoan'ı ikna edemeyen, Slaven Bilic en güçlü ikinci aday konumunda.

Hırvat teknik adamın sözleşmesindeki çıkış maddesi yılbaşında geçerliliğini yitirdi. Fenerbahçe Bilic'te karar kılması halinde tazminat ödemeyecek.

FENERBAHÇE'NİN FİKSTÜRÜ

- Jorge Jesus'ta son durum ne?

Benfica ile yollarını ayıran Jorge Jesus'a şartları soruldu, Portekizlinin yüksek maliyeti anlaşma ihtimalini zorlaştırıyor.

Liste başı isimlerde pürüz çıkması halinde Sarı-lacivertliler takımı sezon sonuna kadar İsmail Kartal'a da emanet edebilir.

Yeni teknik direktör pazartesi günü oynanacak Adana Demirspor maçına yetişmez ise kulübede Zeki Murat Göle yer alacak.


                  </div>
                  <div class="card-footer">
                    <button class="btn btn-outline-primary">Devamını oku</button>
                  </div>
                </div>
  
  I
  
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-header bg-primary text-white">
                  <h3>Galatasaray'da corona virüsü şoku! 3 isim pozitif</h3>
                </div>
                <div class="card-body">
                  Son dönemde kulüplerde artan corona virüs vakalarına bir yenisi daha eklendi. Galatasaray; yardımcı antrenör Selçuk İnan, maç analiz sorumlusu Cihan Ünal ve Taylan Antalyalı'nın corona virüs testlerinin pozitif çıktığını açıkladı.

3 ismin de karantina sürecine girdiği belirtildi.
                </div>
                <div class="card-footer">
                  <button class="btn btn-outline-primary">Devamını oku</button>
                  
                </div>
              </div>

I

          </div><div class="col-md-4">
            <div class="card">
              <div class="card-header bg-primary text-white">
                <h3>Trabzonspor transferde gaza bastı! Yarın bir yıldız daha şehre geliyor</h3>
              </div>
              <div class="card-body">
                Edin Visca'yı kadrosuna katan Trabzonspor, bir bomba daha patlatıyor. Polonyalı oyuncu Tymoteusz Puchacz, yarın Trabzon'da olacak.
Süper Lig'de şampiyonluğun en büyük favorisi olan Trabzonspor, transferde gaza bastı. Edin Visca'ya resmi imzayı attıran Bordo-Mavililer, yarın bir futbolcuyu daha şehre getirecek.
              </div>
              <div class="card-footer">
                <button class="btn btn-outline-primary ">Devamını oku</button>
              </div>
            </div>
            
            

I

        </div>
  
      </div>
  
  </div>
  
