


<div class="container mt-5">
  <div class="row">
      <div class="col-md-10 off">

          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Haber</th>
                  <th scope="col">YAZAR</th>
                  <th scope="col">Haber Tarihi</th>
                  <th scope="col">Haber İndir</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr><tr>
                  <th scope="row">1</th>
                  <td>Togg PODYUMDA</td>
                  <td>Ali Aycalı</td>
                  <td>2021</td>
                  <td><button type="button" class="btn btn-bordered bg-primary text-white">İndir</button></td>
                  <td><button type="button" class="btn btn-bordered bg-danger text-white">Sil</button></td>
                  <td><button type="button" class="btn btn-bordered bg-warning text-white">Dosyayı Yönet</button></td>

                </tr>
</tbody>
          </table>
      </div>
  </div>